@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.body{
  font-family: 'Raleway', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cardStyle {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
  transition: 0.3s;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
}

.cardStyle:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding-top: 20px;
}

.autoHeight {
  margin-top: 36%;
}

.custom-modal{
  width: 100VW;
  height: 100VH;
 }
 .title-text{
max-width: 72ch !important;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
 }
 .glimpse-text{
  /* max-width: 102ch !important; */
  max-height: 1140ch !important;
  /* white-space: nowrap; */
  font-size: 12px;
  overflow-x: hidden;
  text-overflow: ellipsis;
 }

 .__react_component_tooltip {
   font-size:20px;
 }


 .editormargin{

  margin-top: 20px;
 }