@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  position: fixed;
  color:white;
  background-color: #282c34;
}
.body{
  font-family: 'Raleway', sans-serif;

  
}

.cardStyle {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
  transition: 0.3s;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
}

.cardStyle:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding-top: 20px;
  overflow:auto !important;
  margin-bottom:100px; 
}

.autoHeight {
  margin-top: 36%;
}

.custom-modal{
  width: 100VW;
  height: 100VH;
 }
 .title-text{
max-width: 72ch !important;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
 }
 .glimpse-text{
  /* max-width: 102ch !important; */
  max-height: 1140ch !important;
  /* white-space: nowrap; */
  font-size: 12px;
  overflow-x: hidden;
  text-overflow: ellipsis;
 }

 .__react_component_tooltip {
   font-size:15px;
   font-weight: 800;
   max-width:300px;
    word-wrap:break-word;
 }


 .editormargin{

  margin-top: 20px;
 }